@use 'config';
@use 'mobile';

// Secondary text
.text-secondary {
    color: config.$secondary-color;
}

// Headers (1-6) and footer
h1,h2,h3,h4,h5,h6,#main-footer {
    font-family: 'Courier New', Courier, monospace;
}

// Text, links and lists
p,a,ul,li {
    font-family: Arial, Helvetica, sans-serif;
}

// Body
body {
    margin: 0;
    height: 100%;
    line-height: 1.5;
}

// Header
header {
    padding: 1rem;
  
    h1 {
      text-align: center;
    }
    
    .git-link {
      text-align: center;
    }
  
    .bio p {
      text-align: left;
    } 
}


// Main
main {
    padding: 2rem;
    min-height: calc(100vh - 60px);
}

// Project card
.project {
    display: flex;
    flex-direction: column;
  
    h3, h6 {
      margin: 0;
    }
  
    ul {
      list-style-type: none; // Remove bullet points
      padding: 0;
      margin: 0px; // Remove space above and below the list
  
      li {
        padding: 5px 0; // Vertical spacing between list items
      }
    }
  
    &:not(:last-child) {
      border-bottom: 1px solid #ccc; // Add a bottom border
      margin-bottom: 20px;
    }
}

// Skills and Technologies
.skills {
    display: flex;
    justify-content: space-between;
  
    ul {
      width: 50%;
      box-sizing: border-box;
    }
  
    .technologies {
      margin-left: 2%;
    }
}

// Vertical line
.vl {
    margin: 0;
    padding: 0;
    border-left: 1px solid black;
    height: 175px;
  }

#main-footer {
    text-align: center;
    padding: 1rem;
    height: 60px;
}