@use 'config';
@use 'mobile';

// Secondary text
.text-secondary {
    color: config.$secondary-color;
}

// Headers (1-6) and footer
h1,h2,h3,h4,h5,h6,#main-footer {
    font-family: 'Courier New', Courier, monospace;
}

// Text, links and lists
p,a,ul,li {
    font-family: Arial, Helvetica, sans-serif;
}

// Body
body {
    margin: 0;
    height: 100%;
    line-height: 1.5;
}

// Header
header {
    padding: 1rem;
  
    h1 {
      text-align: center;
    }
    
    .git-link {
      text-align: center;
    }
  
    .bio p {
      text-align: left;
    } 
}


// Main
main {
    padding: 1rem;
    min-height: calc(100vh - 60px);
}

// Project card
.project {
    display: flex;
    flex-direction: column;
  
    h3, h6 {
      margin: 0;
    }
  
    &:not(:last-child) {
      border-bottom: 1px solid #ccc; // Add a bottom border
    }
}

// Footer
#main-footer {
    text-align: center;
    padding: 1rem;
    height: 60px;
}